@model JQuerySinglePageCrud.Models.User

@{
    Layout = "";
}

<h5>Delete</h5>
<hr />
<div class="row">
    <div class="col">
        <partial name="~/Views/Alerts/Index.cshtml" />
        @if (Model.ID != 0)
        {
            <h3>Are you sure you want to delete this?</h3>
        }
        <fieldset disabled="">
            <partial name="~/Views/Users/Form.cshtml" />
        </fieldset>
        <form asp-action="Delete" id="userForm">
            <input type="hidden" asp-for="ID" />
            <hr />
            @if (Model.ID != 0)
            {
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            }
        </form>
    </div>
</div>

<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ajax-mvc/js/jquery-ajax-mvc-form.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#userForm').validate();
        $('#userForm').AjaxForm({
            target: '#actionModalBody'
        });
    });

</script>
