@model JQuerySinglePageCrud.Models.User

@{
    Layout = "";
}

<h5>Edit</h5>
<hr />
<div class="row">
    <div class="col">
        <partial name="~/Views/Alerts/Index.cshtml" />
        <form asp-action="Edit" id="userForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <partial name="~/Views/Users/Form.cshtml" />
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Save changes
                </button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ajax-mvc/js/jquery-ajax-mvc-form.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#userForm').validate();
        $('#userForm').AjaxForm({
            target: '#actionModalBody'
        });
    });

</script>